<section class="container">
  <h2 class="form__title">Create New User</h2>
  <form [formGroup]="form">
    <label class="image-upload-container btn btn-bwm">
      <span>Select Image </span>
      <input
        type="file"
        id="image"
        multiple
        (change)="previewFile($event)"
      /><br />
      <img
        id="img__preview"
        [src]="imgSrc"
        height="400"
        alt="Image preview..."
      /><br />
    </label>

    <div class="PersonalInformation" formGroupName="personalInformationData">
      <div class="form-field">
        <label class="form-field__label" for="user">Name</label>
        <input
          class="form-field__input"
          type="text"
          id="name"
          placeholder="Type your complete name (without abreviations)..."
          formControlName="name"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">Occupation</label>
        <input
          class="form-field__input"
          type="text"
          id="occupation"
          placeholder="Type your complete name (without abreviations)..."
          formControlName="occupation"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">CPF</label>
        <input
          class="form-field__input"
          type="text"
          id="cpf"
          placeholder="Type your CPF..."
          formControlName="cpf"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">CEP</label>
        <input
          class="form-field__input"
          type="text"
          id="zipCode"
          placeholder="Type your CEP..."
          formControlName="zipCode"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">City</label>
        <input
          class="form-field__input"
          type="text"
          id="city"
          placeholder="Type your city..."
          formControlName="city"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">State</label>
        <input
          class="form-field__input"
          type="text"
          id="state"
          placeholder="Type your state..."
          formControlName="state"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">E-mail</label>
        <input
          class="form-field__input"
          type="text"
          id="email"
          placeholder="Type your email..."
          formControlName="email"
        />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="user">Phone</label>
        <input
          class="form-field__input"
          type="text"
          id="phone"
          placeholder="Type your phone..."
          formControlName="phone"
        />
      </div>
    </div>

    <div class="form-field__skill">
      <div class="form-field">
        <label class="form-field__label" for="user">Skill name</label>
        <input
          class="form-field__input"
          type="text"
          id="skillName"
          placeholder="Type your skill name..."
          formControlName="skillName"
        />
      </div>
      <fieldset class="form-field">
        <legend>What is your skill level?</legend>
        <label for="radio-begginer"
          ><input
            type="radio"
            value="begginer"
            name="skillLevel"
            id="radio-begginer"
            formControlName="skillLevel"
            checked
          />
          Begginer</label
        >

        <label for="radio-intermediary"
          ><input
            type="radio"
            name="skillLevel"
            value="intermediary"
            id="radio-intermediary"
            formControlName="skillLevel"
          />
          Intermediary</label
        >
        <label for="radio-advanced">
          <input
            type="radio"
            name="skillLevel"
            value="advanced"
            id="radio-advanced"
            formControlName="skillLevel"
          />
          Advanced</label
        >
      </fieldset>
    </div>

    <label class="form-field__label" for="user">Language</label>
    <input
      class="form-field__input"
      type="text"
      id="languageName"
      placeholder="Type your skill level..."
      formControlName="languageName"
    />

    <fieldset class="form-field">
      <legend>What is your language level?</legend>
      <label for="radio-l-begginer"
        ><input
          type="radio"
          name="languagelevel"
          value="begginer"
          formControlName="languagelevel"
          id="radio-l-begginer"
        />
        Begginer</label
      >

      <label for="radio-l-intermediary"
        ><input
          type="radio"
          name="languagelevel"
          value="intermediary"
          formControlName="languagelevel"
          id="radio-l-intermediary"
          checked
        />
        Intermediary</label
      >
      <label for="radio-l-advanced">
        <input
          type="radio"
          name="languagelevel"
          value="advanced"
          formControlName="languagelevel"
          id="radio-l-advanced"
        />
        Advanced</label
      >
    </fieldset>
    <div class="LoginCreate" formGroupName="loginData">
      <div class="form-field">
        <label class="form-field__label" for="user">User Name</label>
        <input
          class="form-field__input"
          type="text"
          id="userName"
          placeholder="Type your user name..."
          formControlName="userName"
        />
      </div>

      <div class="form-field">
        <label class="form-field__label" for="passwordUser">Password</label>
        <input
          class="form-field__input"
          type="password"
          id="password"
          placeholder="Type your password..."
          formControlName="password"
        />
      </div>
    </div>
    <div class="button-wrapper">
      <button class="btn" (click)="CreateUserForm($event)">Create</button>
    </div>

    <br /><br />
  </form>
</section>
