<section class="containerSection">
  <section class="imgAndInfos">
    <div class="img_perfil">
      <img src="{{basicInfo.profileImg}}" alt="">
      <h2 [innerHTML]="basicInfo.name"></h2>
    </div>
    <div>
      <div class="items">
          <span class="material-symbols-outlined">
            business_center
          </span>
          <h3 [innerHTML]="basicInfo.office"></h3>
        </div>

        <div class="items">
          <span class="material-symbols-outlined">
            house
          </span>
        <h3 [innerHTML]="basicInfo.city"></h3>
    </div>
    <div class="items">
        <span class="material-symbols-outlined">
          mail
        </span>
        <h3 [innerHTML]="basicInfo.email"></h3>
      </div>
      <div class="items">
        <span class="material-symbols-outlined">
          call
        </span>
        <h3 [innerHTML]="basicInfo.phoneNumber"></h3>
      </div>

    </div>
  </section>
  <section class="skills">
    <div class="items">
      <span class="material-symbols-outlined">
        emergency
       </span>
      <h3>Skills</h3>
    </div>

    <p>Adobe Photoshop</p>
    <div class="containerSkills">
      <div class="box90">
        <h6>90%</h6>
      </div>
    </div>
    <p>Photography</p>
    <div class="containerSkills">
      <div class="box80">
        <h6>80%</h6>
      </div>
    </div>
    <p>Illustrator</p>
    <div class="containerSkills">
      <div class="box75">
        <h6>75%</h6>
      </div>
    </div>
    <p>Media</p>
    <div class="containerSkills">
      <div class="box50">
        <h6>50%</h6>
      </div>
    </div>
  </section>
  <section class="languages">
    <div class="items">
      <span class="material-symbols-outlined">
        public
      </span>
      <h3>Languages</h3>
    </div>

    <p>English</p>
    <div class="containerLanguages">
      <div class="box100">
      </div>
    </div>
    <p>Spanish</p>
    <div class="containerLanguages">
      <div class="box55">
      </div>
    </div>
    <p>German</p>
    <div class="containerLanguages">
      <div class="box25">
      </div>
    </div>
  </section>
</section>
