<section class="containerSection">
  <section class="imgAndInfos">
    <div>
      <img src="" alt="">
      <h2>Nome</h2>
    </div>
    <div>
      <img src="" alt="">
      <h3>Designer</h3>
      <img src="" alt="">
      <h3>London, UK</h3>
      <img src="" alt="">
      <h3>ex@email.com</h3>
      <img src="" alt="">
      <h3>1224435534</h3>
    </div>
  </section>
  <section class="skills">
    <img src="" alt="">
    <h3>Skills</h3>
    <p>Adobe Photoshop</p>
    <div>
      <div>
        <p>90%</p>
      </div>
    </div>
    <p>Photography</p>
    <div>
      <div>
        <p>80%</p>
      </div>
    </div>
    <p>Illustrator</p>
    <div>
      <div>
        <p>75%</p>
      </div>
    </div>
    <p>Media</p>
    <div>
      <div>
        <p>50%</p>
      </div>
    </div>
  </section>
  <section class="languages">
    <img src="" alt="">
    <h3>Languages</h3>
    <p>English</p>
    <div>
      <div>
      </div>
    </div>
    <p>Spanish</p>
    <div>
      <div>
      </div>
    </div>
    <p>German</p>
    <div>
      <div>
      </div>
    </div>
  </section>
</section>
