header {
    background-color: var(--primary);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;

  }

  main {
    background-color: #fcfcfc;
    padding: var(--padding);
  }
