<header>
  <a routerLink="login">Login</a>
  <a routerLink="info-general">Info-gerais</a>
  <a routerLink="main-page">Professionals</a>
  <a routerLink="create-user">Create User</a>
</header>

<main>
  <router-outlet></router-outlet>

  <!-- <app-info-general></app-info-general>
  <section class="experiences">
    <app-experiences [experiences]="data.experience"></app-experiences>
  </section> -->

  <!-- <app-info-general
    [basicInfo]="data.basicInfo"
    [skills]="data.skilss"
    [languages]="data.languages"
  ></app-info-general>
  <section class="experiences">
    <app-experiences [experiences]="data.experience"></app-experiences>
    <app-forms></app-forms>
  </section> -->
  <!-- <app-login></app-login> -->
  <!-- <app-create-user></app-create-user> -->
  <!-- <app-info-general-dynamic></app-info-general-dynamic> -->
</main>
<footer>
  <app-footer></app-footer>
</footer>
