<main>
  <<<<<<< HEAD
  <!-- <app-info-general></app-info-general>
  <section class="experiences">
    <app-experiences [experiences]="data.experience"></app-experiences>
  </section> -->
  =======
  <app-info-general [basicInfo]="data.basicInfo"></app-info-general>
  <section class="experiences">
    <app-experiences [experiences]="data.experience"></app-experiences>
    <app-forms></app-forms>
  </section>
  >>>>>>> e517d7e611370596ed44ebb112d4fbf33be10c5c
  <!-- <app-login></app-login> -->
  <!-- <app-create-user></app-create-user> -->
</main>
<footer>
  <app-footer [dataFooter]="data.footer"></app-footer>
</footer>
