<section class="containerSection">
  <section class="imgAndInfos">
    <div class="img_perfil">
      <img id="info-general__img" alt="" />
      <h2 id="info-general__name"></h2>
    </div>
    <div>
      <div class="items">
        <span class="material-symbols-outlined"> business_center </span>
        <h3 id="info-general__occupation"></h3>
      </div>

      <div class="items">
        <span class="material-symbols-outlined"> house </span>
        <h3 id="info-general__house"></h3>
      </div>
      <div class="items">
        <span class="material-symbols-outlined"> mail </span>
        <h3 id="info-general__email"></h3>
      </div>
      <div class="items">
        <span class="material-symbols-outlined"> call </span>
        <h3 id="info-general__phone"></h3>
      </div>
    </div>

    <section class="skills">
      <div class="items">
        <span class="material-symbols-outlined"> emergency </span>
        <h3>Skill</h3>
      </div>

      <p id="skills-items__name"></p>
      <div class="containerHabilities">
        <div id="skills-items__name-bar" class="box100"></div>
      </div>
    </section>

    <section class="languages">
      <div class="items">
        <span class="material-symbols-outlined"> public </span>
        <h3>Languages</h3>
      </div>

      <p id="language-itens"></p>
      <div class="containerHabilities">
        <div id="language-itens__bar" class="box100"></div>
      </div>
    </section>
  </section>
</section>
